.buildpath
.hgignore.swp
.project
.orig
.swp
.idea/
.settings/
.vscode/
vendor/
log/
composer.lock
gitpush.sh
pkg/
bin/
cbuild
main
.vscode
__debug_bin
telepresence.log
.metals
.bsp
project
target
nohup.out
venv/
tests/
